---
import Header from "@/components/header.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import AccountShare from "@/components/accounts/share.astro";
import { getCollection, getEntry } from "astro:content";
import { getRelatedSlugs } from "@/scripts/related-articles";
import type { Post } from "@/content/config";

const { slug } = Astro.params;
if (!slug) return Astro.redirect('/404')
const post = await getEntry("posts", slug);

if (!post) throw new Error("No post found for this slug");
const { Content } = await post.render();

// Generate static pages
const posts = await getCollection("posts");

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const tags: string[] = Array.isArray(post.data.tags)
  ? post.data.tags
  : post.data.tags.split(" ");

const allSlugs = posts.map((post) => post.slug);

const relatedSlugs = await getRelatedSlugs(allSlugs, slug);
const relatedArticles = await Promise.all(
  relatedSlugs.map(async (slug) => {
    return await getEntry("posts", slug);
  })
);
---

<Layout title={post.data.title}>
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 py-6">
        <div class="relative">
          <h1
            class="py-4 text-2xl font-medium md:text-3xl lg:text-4xl md:text-center"
          >
            {post.data.title}
          </h1>

          <!-- data -->
          <div
            class="flex gap-4 items-center pb-4 w-full text-sm border-b border-dashed md:justify-center text-neutral-500 border-neutral-200"
          >
            <!--author-->
            <a href="#" rel="author"
              ><i class="bi bi-person me-2"></i>by {post.data.author}</a
            >
            <!--date-->
            <time class="news-date" datetime="2024-06-16"
              ><i class="bi bi-calendar me-2"></i>{post.data.dateOfPublishing.toLocaleDateString()}</time
            >
            <!--category-->
            <a href="#" rel="category"
              ><i class="bi bi-bookmark me-2"></i>{post.data.category}</a
            >
          </div>

          <!-- post -->
          <div class="relative pt-4 post-content">
            <!-- <p>Exploring street foods around the world is an adventure for your taste buds. From savory to sweet, spicy to tangy, each bite tells a story of culture, tradition, and culinary creativity. Here's a list of the top 10 must-try street foods that will take you on a delicious journey across continents.</p> -->
            <div
              class="aspect-[2/1] overflow-hidden w-full bg-neutral-100 mb-8"
            >
              <img
                loading="lazy"
                src={`/img/blogs/${slug}/${post.data.coverImage}`}
                alt={slug}
                class="w-full"
                transition:name={slug}
              />
            </div>
            <div class="prose lg:prose-xl text-black-500">
              <Content />
            </div>
          </div>

          <!-- navigation -->
          <div
            class="flex flex-col gap-3 justify-between items-center py-4 border-dashed sm:flex-row border-y border-neutral-200"
          >
            <!-- tags -->
            <ul class="flex flex-wrap gap-2 items-center text-sm">
              <li>
                <i class="bi bi-tags"></i> :
              </li>
              {
                tags.map((tag) => (
                  <li>
                    <a
                      href="javascript:void(0)"
                      class="flex px-3 py-1 bg-white border hover:bg-neutral-100 border-neutral-200"
                    >
                      {tag}
                    </a>
                  </li>
                ))
              }
            </ul>
            <AccountShare />
          </div>

          <!-- <Profile /> -->

          <!-- related -->
          <div
            class="py-6 border-b border-dashed md:py-8 border-neutral-200"
            hidden={!relatedSlugs.length}
          >
            <h3 class="w-full text-xl">Related Article</h3>
            <div class="flex flex-col pt-2">
              <!-- item -->
              {
                relatedArticles
                  .filter((i) => i !== undefined)
                  .slice(0, 3)
                  .map((post) => (
                    <a
                      href={`/posts/${post.slug}`}
                      class="flex gap-3 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                    >
                      <img
                        src={`/img/blogs/${post.slug}/${post.data.coverImage}`}
                        alt={post.slug}
                        class="size-16"
                        height={64}
                        width={64}
                        height={64}
                        width={64}
                      />
                      <div class="flex flex-col gap-1">
                        <h4 class="capitalize hover:text-black">
                          {post.data.title}
                        </h4>
                        <span class="text-sm text-neutral-500">
                          {post.data.dateOfPublishing.toLocaleDateString() || "12 May, 2024"}
                        </span>
                      </div>
                    </a>
                  ))
              }
            </div>
          </div>

          <!-- <CommentSection /> -->
        </div>
      </div>
    </div>
  </main>
</Layout>
