---
export interface Props {
  justifyCenter?: boolean
}

const {justifyCenter = false} = Astro.props

import accounts from './accounts.json' 
---

<!-- share -->
<div class={`flex items-center ${justifyCenter ? 'justify-center' : ''}`}>
  <a href={accounts.facebook} class="p-2 hover:opacity-80">
    <i class="bi bi-facebook"/>
  </a>
  <a href={accounts.instagram} class="p-2 hover:opacity-80">
    <i class="bi bi-instagram"/>
  </a>
  <a href={accounts.twitter} class="p-2 hover:opacity-80">
    <i class="bi bi-twitter-x"/>
  </a>
  <a href={accounts.pinterest} class="p-2 hover:opacity-80">
    <i class="bi bi-linkedin"/>
  </a>
  <a href={accounts.gmail} class="p-2 hover:opacity-80">
    <i class="bi bi-envelope"/>
  </a>
  <a href={accounts.youtube} class="p-2 hover:opacity-80">
    <i class="bi bi-youtube"/>
  </a>
</div>