---
export interface Props {
  justifyCenter?: boolean
}

const {justifyCenter = false} = Astro.props

import accounts from './accounts.json' 
---

<!-- share -->
<div class={`sm:flex hidden items-center ${justifyCenter ? 'justify-center' : ''}`}>
  <a href={accounts.facebook} class="p-2 hover:opacity-80">
    <i class="text-blue-600 bi bi-facebook"/>
  </a>
  <a href={accounts.instagram} class="p-2 hover:opacity-80">
    <i class="text-pink-700 bi bi-instagram"/>
  </a>
  <a href={accounts.twitter} class="p-2 hover:opacity-80">
    <i class="bi bi-twitter-x"/>
  </a>
  <a href={accounts.pinterest} class="p-2 hover:opacity-80">
    <i class="text-red-600 bi bi-pinterest"/>
  </a>
  <a href={accounts.gmail} class="p-2 hover:opacity-80">
    <i class="bi bi-envelope"/>
  </a>
  <a href={accounts.youtube} class="p-2 hover:opacity-80">
    <i class="text-rose-600 bi bi-youtube"/>
  </a>
</div>