---
import accounts from './accounts.json'
---

<!--social-->
<div class="mt-2">
  <ul class="space-x-3">
    <!--facebook-->
    <li class="inline-block">
      <a
        target="_blank"
        class="hover:text-neutral-900"
        rel="noopener noreferrer"
        href={accounts.facebook}
        title="Facebook"
      >
        <i class="text-xl bi bi-facebook"/>
      </a>
    </li>
    <!--twitter-->
    <li class="inline-block">
      <a
        target="_blank"
        class="hover:text-neutral-900"
        rel="noopener noreferrer"
        href={accounts.twitter}
        title="Twitter"
      >
        <i class="text-xl bi bi-twitter"/>
      </a>
    </li>
    <!--youtube-->
    <li class="inline-block">
      <a
        target="_blank"
        class="hover:text-neutral-900"
        rel="noopener noreferrer"
        href={accounts.youtube}
        title="Youtube"
      >
        <i class="text-xl bi bi-youtube"/>
      </a>
    </li>
    <!--instagram-->
    <li class="inline-block">
      <a
        target="_blank"
        class="hover:text-neutral-900"
        rel="noopener noreferrer"
        href={accounts.instagram}
        title="Instagram"
      >
        <i class="text-xl bi bi-instagram"/>
      </a>
    </li>
    <!--pinterest-->
    <li class="inline-block">
      <a
        target="_blank"
        class="hover:text-neutral-900"
        rel="noopener noreferrer"
        href={accounts.pinterest}
        title="Pinterest"
      >
        <i class="text-xl bi bi-pinterest"/>
      </a>
    </li>
    <!--gmail-->
    <li class="inline-block">
      <a
        target="_blank"
        class="hover:text-neutral-900"
        rel="noopener noreferrer"
        href={accounts.gmail}
        title="Gmail"
      >
        <i class="text-xl bi bi-envelope"/>
      </a>
    </li>
    <!--end gmail-->
  </ul>
</div>
<!--end social-->