---
import Header from "@/components/header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";
import TagList from "@/components/tag-list.astro";
import PopularPosts from "@/components/popular-posts.astro";
const posts = await getCollection("posts");

const filterCategory = <T extends string>(category: T) =>
  posts.filter(
    (post) => post.data.category.toLowerCase() === category.toLowerCase()
  ).length;
---

<Layout>
  <Header />
  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- hero -->
      <div class="flex relative flex-col gap-4 pt-4 lg:pt-6 lg:gap-6">
        <div
          class="relative overflow-hidden bg-neutral-200 w-full aspect-[1/1] sm:aspect-[3/2] md:aspect-[2/1] flex justify-center items-center"
        >
          <img
            
            src="/img/blogs/hero.jpg"
            alt="tailwind blog template"
            class="absolute inset-x-0 bottom-0 w-full"
            
            
            
          />
          <!-- card inside -->
          <div
            class="relative bg-white max-w-[80%] lg:max-w-[60%] md:min-w-[60%] aspect-[1/1] sm:aspect-[3/2] md:aspect-[2/1] p-4 sm:p-6 text-center"
          >
            <div
              class="flex overflow-hidden flex-col gap-2 items-center h-full sm:gap-3"
            >
              <span class="text-sm uppercase text-neutral-500">&nbsp;</span>
              <h1 class="text-2xl font-medium sm:text-3xl md:text-4xl">
                The Voumy Blog
              </h1>
              <p class="mb-2 text-neutral-500 px-10 py-5">
                Explore a world of insightful articles and thoughtful commentary
                that ignites inspiration and fosters meaningful connections
                through discussion...
              </p>
              <a
                href="#"
                class="inline-flex px-4 py-2 rounded-md border border-dashed shadow transition-shadow bg-neutral-100 hover:bg-neutral-200/80 hover:shadow-md border-neutral-200"
                >Read More</a
              >
            </div>
          </div>
        </div>

        <!-- grids -->
        <div class="hidden grid-cols-1 gap-4 md:grid md:grid-cols-3 lg:gap-6">
          <!-- card item -->
          <div
            class="relative aspect-[2/1] overflow-hidden flex justify-center items-center"
          >
            <img
              
              src="/img/blogs/3.jpg"
              class="absolute inset-x-0 top-0 w-full"
              alt="image"
              
              
            />
            <!-- category -->
            <a href="#" class="flex relative px-4 py-2 bg-white/80">
              Lifestyle & Travel
            </a>
          </div>
          <!-- card item -->
          <div
            class="relative aspect-[2/1] overflow-hidden flex justify-center items-center"
          >
            <img
              
              src="/img/blogs/8.jpg"
              class="absolute inset-x-0 top-0 w-full"
              alt="image"
              
              
            />
            <!-- category -->
            <a href="#" class="flex relative px-4 py-2 bg-white/80">
              Journal
            </a>
          </div>

          <!-- card item -->
          <div
            class="relative aspect-[2/1] overflow-hidden flex justify-center items-center"
          >
            <img
              
              src="/img/blogs/6.jpg"
              class="absolute inset-x-0 top-0 w-full"
              alt="image"
              
              
            />
            <!-- category -->
            <a href="#" class="flex relative px-4 py-2 bg-white/80">
              Reality
            </a>
          </div>
        </div>
      </div>

      <!-- layout -->
      <div class="grid grid-cols-1 gap-4 py-6 lg:grid-cols-3 lg:gap-6">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <!-- widget -->
            <div class="border border-dashed bg-neutral-50 border-neutral-200">
              <h3
                class="px-6 py-3 w-full border-b border-dashed border-neutral-200"
              >
                Category
              </h3>
              <div class="px-6 py-3">
                <ul class="flex flex-col">
                  <li class="relative">
                    <a
                      href="#"
                      class="flex gap-3 justify-between items-center py-1.5 hover:text-black"
                    >
                      <span>Travel</span>
                      <span>({filterCategory("travel")})</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex gap-3 justify-between items-center py-1.5 hover:text-black"
                    >
                      <span>Reality</span>
                      <span>({filterCategory("reality")})</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex gap-3 justify-between items-center py-1.5 hover:text-black"
                    >
                      <span>Journal</span>
                      <span>({filterCategory("journal")})</span>
                    </a>
                  </li>
                  <!-- <li class="relative">
                    <a href="#" class="flex gap-3 justify-between items-center py-1.5 hover:text-black">
                      <span>Foods</span>
                      <span>(7)</span>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>

            <!-- widget -->
            <PopularPosts />

            <!-- widget -->
            <TagList
              tags={[
                "travel",
                "food",
                "journal",
                "technology",
                "lifestyle",
                "entertainment",
                "travel",
                "food",
                "wellness",
                "business",
                "education",
                "culture",
                "personal development",
              ]}
            />
          </div>
        </aside>

        <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2">
          <h2
            class="pb-2 text-lg font-medium uppercase border-b border-dashed border-neutral-200"
          >
            Latest Post
          </h2>
          <!-- loop post -->
          <div class="flex flex-col">
            <!-- post item -->
            {
              posts
                .sort(
                  (a, b) =>
                    b.data.dateOfPublishing.getTime() -
                    a.data.dateOfPublishing.getTime()
                )
                .slice(0, 3)
                .map((post) => (
                  <article class="grid grid-cols-1 gap-4 py-8 border-b border-dashed md:grid-cols-2 md:gap-6 border-neutral-200 last:border-b-0">
                    {/* <!--thumbnail--> */}
                    <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                      <a href={`/posts/${post.slug}`}>
                        <img
                          class="w-full bg-cover bg-center"
                          src={`/img/blogs/${post.slug}/${post.data.coverImage}`}
                          alt={post.data.title}
                          transition:name={post.slug}
                        />
                      </a>
                    </div>

                    {/* <!--content--> */}
                    <div class="flex flex-col gap-2 justify-start">
                      {/* <!--title--> */}
                      <h3 class="text-xl capitalize">
                        <a href={`/posts/${post.slug}`}>{post.data.title} </a>
                      </h3>
                      <div class="flex gap-3 justify-between items-center pr-10 text-sm text-neutral-400">
                        {/* <!--author--> */}
                        {/* <!--date--> */}
                        <time class="news-date" datetime="2024-06-16">
                          <i class="bi bi-calendar me-1" />
                          {post.data.dateOfPublishing.toLocaleDateString()}
                        </time>
                        {/* <a href="#" rel="author"> */}
                        <span><i class="bi bi-clock me-1" />
                        5m</span>
                        {/* </a> */}
                      </div>
                      {/* <!--description--> */}
                      <p class="mb-2 text-neutral-500">{post.data.title}</p>

                      <div class="relative">
                        <a
                          href={`/posts/${post.slug}`}
                          class="inline-flex px-4 py-2 border border-dashed bg-neutral-100 hover:bg-neutral-200/80 border-neutral-200"
                        >
                          Read
                        </a>
                      </div>
                    </div>
                  </article>
                ))
            }
          </div>

          <!-- navigation -->
          {
            posts.length > 3 && (
              <div class="gap-3 justify-end items-center py-4 border-t border-dashed border-neutral-200">
                <a
                  class="flex gap-2 items-center text-sm uppercase text-neutral-500 hover:text-black"
                  href="#"
                >
                  Older Posts <i class="bi bi-arrow-right" />
                </a>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
