---
import PagesDropdown from "./pages-dropdown.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const categories = [...new Set(posts.map((post) => post.data.category)).keys()];

import AccountShare from "@/components/accounts/share.astro";
const searchPosts = posts.map((post) => ({
  title: post.data.title,
  slug: `/posts/${post.slug}`,
}));

const navs = {
  home: "/",
  about: "/about",
  // contact: "/contact",
  // privacy: "/privacy",
};
---

<!-- header -->
<header
  x-data={`{ navtoggle: false, searchTerm: '', searchPosts: ${JSON.stringify(searchPosts)}}`}
  class="flex flex-col"
>
  <!-- top -->
  <div class="border-b border-dashed border-neutral-200">
    <div
      class="container flex gap-3 justify-between items-center px-4 py-2 mx-auto xl:max-w-6xl"
    >
      <ul class="flex items-center text-sm max-sm:grow max-sm:overflow-hidden">
        {
          Object.entries(navs).map(([name, href]) => (
            <li class="relative">
              <a {href} class="px-3 py-1.5 capitalize hover:text-neutral-900">
                {name}
              </a>
            </li>
          ))
        }
      </ul>

      <AccountShare />
    </div>
  </div>

  <div x-data="{ searchtoggle: false }" class="flex flex-col">
    <!-- logo & Button-->
    <div class="mob-sticky max-md:z-20 max-md:bg-white">
      <div
        class="container flex gap-3 justify-between items-center px-4 mx-auto xl:max-w-6xl md:justify-center"
      >
        <button
          @click="navtoggle = !navtoggle"
          class="text-2xl size-10 md:hidden"
        >
          <i
            :class="{ 'block': navtoggle, 'hidden': !(navtoggle) }"
            class="bi bi-x-lg"
          >
          </i>
          <i
            :class="{ 'hidden': navtoggle, 'block': !(navtoggle) }"
            class="bi bi-list"
          >
          </i>
        </button>

        <a href="/" class="py-4 md:py-6 lg:py-12">
          <h2 class="text-4xl font-medium text-center md:text-5xl font-voumy">
            Voumy!
          </h2>
          <h3 class="text-sm italic text-center font-slogan text-neutral-500">
            Where words become alive
          </h3>
          <!-- <img loading="lazy"    src="..//img/logo.png"> -->
        </a>
        <!-- <img src="logo.svg" class="max-h-60"/> -->
        <button
          @click="searchtoggle = !searchtoggle"
          class="text-xl size-10 md:hidden"
        >
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <!-- menu -->
    <nav
      id="target-nav"
      :class="{ 'show': navtoggle, '': !(navtoggle) }"
      class="nav-sticky max-md:fixed max-md:w-72 max-md:inset-y-0 max-md:left-0 max-md:[&.show]:translate-x-0 bg-white md:border-y border-dashed border-neutral-200 z-50 max-md:-translate-x-full transition-transform duration-300"
    >
      <div
        class="py-2 mb-1.5 text-xs text-center uppercase border-b md:hidden text-neutral-500 border-neutral-100"
      >
        Menu
      </div>
      <!-- menu -->
      <ul
        class="flex relative text-sm uppercase md:items-center md:justify-center max-md:flex-col max-md:h-full max-md:overflow-auto md:text-base"
      >
        <!-- dropdown -->

        <li class="relative border-b-2 border-neutral-100 pb-2">
          <a
            href={"/"}
            class="uppercase py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
          >
            Homepage
          </a>
        </li>
        {
          categories.map((category) => (
            <li class="relative flex gap-0.5 justify-start  items-center first:pb-2">
             
              <a
                href={"/categories/" + category}
                class="uppercase py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
              >
                 {category === "journal" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5 text-neutral-700"
                  viewBox="0 0 16 16"
                >
                  <g fill="currentColor">
                    <path d="M7.5 3.75a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0m-.861 1.542l1.33.886l1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                  </g>
                </svg>
              )}
              {category==="travel" && (
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5 text-neutral-700" viewBox="0 0 24 24"><path fill="currentColor" d="M17.5 5.5q-.825 0-1.413-.588Q15.5 4.325 15.5 3.5t.587-1.413Q16.675 1.5 17.5 1.5q.825 0 1.413.587q.587.588.587 1.413q0 .825-.587 1.412q-.588.588-1.413.588ZM11 23l2.8-14.1l-1.8.7V13h-.7l-6.75 7.925q-.025-.025-.287-.225q-.263-.2-.763-.2q-.25 0-.662.15q-.413.15-.688.7l-1.1-.95q-.15-.125-.238-.3q-.087-.175-.112-.375q-.025-.2.038-.388Q.8 19.15.925 19l3.25-3.8q.125-.175.3-.25q.175-.075.375-.1q.2-.025.388.05q.187.075.337.2L7.1 16.4L10 13V8.3l5.05-2.15q.725-.325 1.475-.075q.75.25 1.175.925l1 1.6q.6 1.05 1.738 1.725Q21.575 11 23 11v2q-1.65 0-3.087-.688q-1.438-.687-2.413-1.812l-.6 3l2.1 2V23h-2v-6l-2.1-2l-1.8 8Zm-8.5-1q0-.425.288-.712Q3.075 21 3.5 21t.713.288q.287.287.287.712t-.287.712Q3.925 23 3.5 23t-.712-.288Q2.5 22.425 2.5 22Z"/></svg>
              )}
                {category}
              </a>
            </li>
          ))
        }
        <li class="relative border-t-2 border-neutral-100 pt-2">
          <a
            href={"/about"}
            class="uppercase py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
          >
            about
          </a>
        </li>
        <li class="relative">
          <a
            href={"/contact"}
            class="uppercase py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
          >
            Contact
          </a>
        </li>
        <li class="relative">
          <a
            href={"/privacy"}
            class="uppercase py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
          >
            Privacy Policy
          </a>
        </li>

        <li class="relative max-md:hidden">
          <button
            @click="searchtoggle = !searchtoggle"
            class="py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
          >
            <i class="bi bi-search"></i>
          </button>
        </li>
      </ul>
      <!-- credit -->
      <div
        class="absolute inset-x-0 bottom-0 py-2 mb-2 text-xs text-center md:hidden text-neutral-500"
      >
        Copyright 2024
      </div>
    </nav>
    <!-- bg mobile sidebar -->
    <button
      @click="navtoggle = !navtoggle"
      :class="{ 'show': navtoggle, '': !(navtoggle) }"
      class="max-md:fixed max-md:bg-black max-md:[&.show]:inset-0 max-md:opacity-0 max-md:[&.show]:opacity-50 max-md:[&.show]:z-30 transform duration-300 lg:hidden"
    >
    </button>

    <!-- modal search -->
    <div
      x-show="searchtoggle"
      class="z-[60] overflow-auto inset-0 w-full h-full fixed py-6"
    >
      <div
        @click.away="searchtoggle = false"
        class="z-[60] relative p-3 mx-auto my-0 max-w-full sm:max-w-[500px] opacity-0 [&.show]:opacity-100"
        :class="! searchtoggle ? '' : 'show'"
        x-show="searchtoggle"
        x-transition.duration.500ms
      >
        <div
          class="flex overflow-hidden flex-col bg-white rounded border border-neutral-200"
        >
          <!-- modal content -->
          <div class="flex flex-col p-6">
            <div class="flex gap-3 justify-between items-center mb-3">
              <h3 class="text-lg">Search</h3>
              <button
                @click="searchtoggle = false"
                class="text-2xl font-semibold fill-current">×</button
              >
            </div>
            <div class="flex overflow-hidden relative mb-8 w-full max-w-full">
              <label for="search-form" class="hidden">Search</label>
              <input
                type="text"
                class="overflow-x-auto relative px-5 py-3 w-full h-12 leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0 peer"
                id="search-form"
                x-model="searchTerm"
              />
              <!-- icon -->
              <button
                class="flex absolute top-0 justify-center items-center border size-12 end-0 border-neutral-200 bg-neutral-100 peer-focus:border-neutral-400"
              >
                <span class="text-base leading-none bi bi-search"> </span>
              </button>
            </div>
            <ul class="overflow-y-scroll max-h-80">
              <template x-for="searchPost in searchPosts">
                <li
                  class="relative"
                  x-show="searchPost.title.toLowerCase().includes(searchTerm.toLowerCase())"
                >
                  <a
                    x-bind:href="searchPost.slug"
                    data-astro-prefetch="hover"
                    class="block px-4 py-2 text-sm text-neutral-800 hover:bg-neutral-100 hover:text-black"
                    x-html="searchPost.title.replace(new RegExp('(searchTerm)', 'i'), `<span class='font-bold text-black bg-yellow-300'>$1</span>)`) "
                  ></a>
                </li></template
              >
            </ul>
          </div>
        </div>
      </div>
      <!-- bg modal -->
      <div
        class="overflow-auto fixed inset-0 z-40 w-full h-full bg-black opacity-50"
      >
      </div>
    </div>
  </div>
</header>
