---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<div class="border border-dashed bg-neutral-50 border-neutral-200">
  <h3 class="px-6 py-3 w-full border-b border-dashed border-neutral-200">
    Popular Post
  </h3>
  <div class="flex flex-col p-6">
    <!-- item -->
    {
      posts.map((post) => (
        <a
          href="#"
          class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
        >
          <img
            format="webp"
            src={`/img/blogs/${post.slug}/${post.data.coverImage}`}
            alt={post.slug}
            class="size-16"
            height={64}
            width={64}
          />
          <div class="flex flex-col gap-1">
            <h4 class="text-sm capitalize hover:text-black">
              {post.data.title}
            </h4>
            <span class="text-sm text-neutral-500">
              {post.data.dateOfPublishing.toLocaleDateString()}
            </span>
          </div>
        </a>
      ))
    }
  </div>
</div>
